label[for="woocommerce_morkva-liqpay_liqpay_image_type_black"],
label[for="woocommerce_morkva-liqpay_liqpay_image_type_white"],
label[for="woocommerce_morkva-liqpay_liqpay_image_type_mini"],
label[for="woocommerce_morkva-liqpay-payparts_liqpay_image_type_black"],
label[for="woocommerce_morkva-liqpay-payparts_liqpay_image_type_white"],
label[for="woocommerce_morkva-liqpay-payparts_liqpay_image_type_mini"],
label[for="woocommerce_morkva-liqpay-prepay_liqpay_image_type_black"],
label[for="woocommerce_morkva-liqpay-prepay_liqpay_image_type_white"],
label[for="woocommerce_morkva-liqpay-prepay_liqpay_image_type_mini"]{
	display: flex !important;
    align-items: center;
    gap: 10px;
}
#woocommerce_morkva-liqpay_description,
#woocommerce_morkva-liqpay_instructions,
#woocommerce_morkva-liqpay-payparts_description,
#woocommerce_morkva-liqpay-payparts_instructions,
#woocommerce_morkva-liqpay-prepay_description,
#woocommerce_morkva-liqpay-prepay_instructions,
label[for="woocommerce_morkva-liqpay_liqpay_prro_enabled"],
p.description
{
	max-width: 400px;
}
#woocommerce_morkva-monopay-payparts_mono_payparts_title,
#woocommerce_morkva-monopay_mono_acquiring_title,
#woocommerce_morkva-monopay-prepay_mono_acquiring_title,
.morkva-settings-main > h2 + p
{display: none !important;}
#woocommerce_morkva-monopay-payparts_default_logo_plata{margin:0;}
td label[for="woocommerce_morkva-liqpay_enabled"],
td label[for="woocommerce_morkva-liqpay_hide_image"],
td label[for="woocommerce_morkva-liqpay-payparts_enabled"],
td label[for="woocommerce_morkva-liqpay-payparts_hide_image"],
td label[for="woocommerce_morkva-liqpay-prepay_enabled"],
td label[for="woocommerce_morkva-liqpay-prepay_hide_image"]{color: transparent;}
.morkva-settings-sidebar img{width: 10px;}
.morkva-settings-sidebar a img{    filter: brightness(100);}
tr:has(#woocommerce_morkva-liqpay_liqpay_image_type_white) th, tr:has(#woocommerce_morkva-liqpay_liqpay_image_type_white) td,
tr:has(#woocommerce_morkva-liqpay_liqpay_image_type_mini) th, tr:has(#woocommerce_morkva-liqpay_liqpay_image_type_mini) td,
tr:has(#woocommerce_morkva-liqpay_liqpay_image_type_black) th, tr:has(#woocommerce_morkva-liqpay_liqpay_image_type_black) td,
tr:has(#woocommerce_morkva-liqpay-prepay_liqpay_image_type_white) th, tr:has(#woocommerce_morkva-liqpay-prepay_liqpay_image_type_white) td,
tr:has(#woocommerce_morkva-liqpay-prepay_liqpay_image_type_mini) th, tr:has(#woocommerce_morkva-liqpay-prepay_liqpay_image_type_mini) td,
tr:has(#woocommerce_morkva-liqpay-prepay_liqpay_image_type_black) th, tr:has(#woocommerce_morkva-liqpay-prepay_liqpay_image_type_black) td{
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
}
.form-table td fieldset label[for="woocommerce_morkva-liqpay_liqpay_image_type_white"],
.form-table td fieldset label[for="woocommerce_morkva-liqpay-prepay_liqpay_image_type_white"]{
    margin-top: -30px !important;
    margin-bottom: -52px !important;
}
@media(max-width: 768px){
    .morkva-settings-wrapper{flex-direction: column;}
}